#!/bin/sh 
# Set the background image with feh

# Run the monitor setup script if you have custom monitor arrangements
~/setup-monitors.sh

feh --bg-scale ~/.local/share/bg.jpg  # or your correct background path

setxkbmap -option caps:escape_shifted_capslock


# Start picom for transparency
picom -b


xbindkeys &

