#!/bin/sh 
# Set the background image with feh

# Run the monitor setup script if you have custom monitor arrangements
~/setup-monitors.sh

feh --bg-scale ~/.local/share/bg.jpg  # or your correct background path

# Remap Caps Lock to Escape
# setxkbmap -option caps:escape
# 
# Make Caps Lock also act as Super when held
(sleep 1 && xcape -e 'Caps_Lock=Escape;Super_L=Escape') &

# Start picom for transparency
picom -b


xbindkeys &

